doctype html
html
  head
    title Shital&apos;s Page
    link(href='public/stylesheets/bootstrap.css', rel='stylesheet')
    |     
    style.
      .bd-placeholder-img {
      font-size: 1.125rem;
      text-anchor: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      }
      @media (min-width: 768px) {
      .bd-placeholder-img-lg {
      font-size: 3.5rem;
      }
      }
  |   
  body
    nav.navbar.navbar-expand-md.navbar-dark.fixed-top.bg-dark
      a.navbar-brand(href='#') Navbar
      |   
      button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarsExampleDefault', aria-controls='navbarsExampleDefault', aria-expanded='false', aria-label='Toggle navigation')
        span.navbar-toggler-icon
      |   
      #navbarsExampleDefault.collapse.navbar-collapse
        ul.navbar-nav.mr-auto
          li.nav-item.active
            a.nav-link(href='#')
              | Home 
              span.sr-only (current)
          |       
          li.nav-item
            a.nav-link(href='#') Link
          |       
          li.nav-item
            a.nav-link.disabled(href='#') Disabled
          |       
          li.nav-item.dropdown
            a#dropdown01.nav-link.dropdown-toggle(href='#', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false') Dropdown
            |         
            .dropdown-menu(aria-labelledby='dropdown01')
              a.dropdown-item(href='#') Action
              |           
              a.dropdown-item(href='#') Another action
              |           
              a.dropdown-item(href='#') Something else here
    main(role='main')
       block content    
        hr
    footer.container
      p &copy; Company 2017-2019
